/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);

html {
    background-color: #212121; /*#90a4ae;*/
    color: #e0e0e0;

}

h3, h5, h4 {
    font-family: "Roboto Condensed";
    font-weight: 200;
}


nav ul a,
nav {
  color: #ffa726;
}

#nav-mobile li {
    padding: 0;
}

#nav-mobile li a {
    padding: 0;
    color: #0097a7 !important;
}

#main-nav .brand-logo {
    color: #ffa726;
}

.signature {
    font-size: 150%;
    float: right;
}

ul.side-nav.fixed li.logo {
    height: 300px;
    padding: 0;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ddd;
}

ul.side-nav.fixed li.logo:hover {
    background-color: transparent;
}

#logo-container {
    height: 200px;
    width: 100%;
    margin-bottom: 32px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ffffff;
}

#main-content {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }

    #main-content {
        padding-left: 0;
    }
}

.icons {
    color: #ffd180;
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.waves-effect.waves-melon .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: rgba(255,209,128, 0.65);
}
