/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html {
    background-color: #212121; /*#90a4ae;*/
    color: #e0e0e0;
}

nav ul a,
nav {
  color: #ffa726;
}

#nav-mobile li a {
    color: #ffa726 !important;
}

#main-nav .brand-logo {
    color: #ffa726;
}

.signature {
    font-size: 150%;
    float: right;
}

ul.side-nav.fixed li.logo {
    height: 300px;
    padding: 0;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ddd;
}

ul.side-nav.fixed li.logo:hover {
    background-color: transparent;
}

#logo-container {
    height: 200px;
    width: 100%;
    margin-bottom: 32px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ffffff;
}

#main-content {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }

    #main-content {
        padding-left: 0;
    }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}
